* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #F13C6E;
  --secondary-color: #fff;
  --main-txt-color: #000;
}

body {
  font-size: 14px;
  line-height: 1.14;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--main-txt-color);
}

h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

a {
  color: var(--main-txt-color);
  text-decoration: none;
} 

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.bg-primary {
  background-color: var(--primary-color);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.btn {
  font-family: 'Roboto';
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: 2px solid var(--primary-color);
  border-radius: 40px;
  background: none;
  cursor: pointer;
}

.btn-padding-head-foot {
  padding: 10px 54px 10px 55px;
}

.btn-padding-head-foot:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.btn-white {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.btn-primary {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.btn.btn-primary {
  padding: 7.5px 51.5px;
  border-radius: 30px;
}

.btn.btn-primary:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Header */
header a:hover {
  color: var(--primary-color);
}

.top-line {
  background-color: #E5E5E5;
}

.horizontal-nav {
  padding: 17px 0 16px;
  text-align: center;
  font-size: 0;
}

.horizontal-nav li {
  margin-right: 30px;
  font-size: 14px;
  display: inline-block;
}

.horizontal-nav li:last-child {
  margin-right: 0;
}

.middle-line {
  padding: 20px 0;
  border-bottom: 1px solid #EFEFEF;
}

.middle-line_logo {
  font-size: 0;
}

.middle-line_logo img {
  margin-right: 20px;
  vertical-align: middle;
}

.middle-line_logo span {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: var(--primary-color);
  letter-spacing: 0.1em;
  vertical-align: middle;
}

.middle-line_buttons {
  padding: 20px 0;
  font-size: 0;
}

.middle-line_buttons a {
  font-size: 14px;
}

.middle-line_buttons .btn {
  margin-left: 40px;
  font-size: 14px;
}

.bottom-line .horizontal-nav {
  padding: 30px 0;
}

.bottom-line .horizontal-nav li {
  margin-right: 40px;
  font-size: 16px;
}

main {
  background-color: #E5E5E5;
}

/* Banner */
.banner {
  background-image: url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 192px 0;
  background-position: center;
}

.banner h1 {
  color: var(--secondary-color);
  margin-bottom: 50px;
}

.banner p {
  max-width: 260px;
  margin-bottom: 30px;
  line-height: 20px;
  color: var(--secondary-color);
}

.banner .btn {
  padding: 10px 65px 10px 66px;
  letter-spacing: 0.05em;
}

.banner .btn:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

/* Products */
.special {
  padding: 80px 0 100px;
}

.special-title {
  margin-bottom: 38px;
}

.product {
  padding: 25px 30px;
  background-color: var(--secondary-color);
  text-align: center;
}

.product-img img {
  max-width: 125px;
  margin-bottom: 20px;
}

.product-title {
  margin-bottom: 20px;
  line-height: 19px;
  color: #333;
}

.product-price {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.05em;
}

.product .btn {
  display: inline-block;
}

/* 4 cards in row */
.cards-4 .card {
  width: calc((100% - 90px) / 4);
}

/* 2 cards in row */
.cards-2 .card {
  width: calc((100% - 30px) / 2);
}
/* -------------cta------------ */
.card {
  float: left;
}

.card:not(:last-child) {
  margin-right: 30px;
}

.cta .card {
  padding: 35px 45px 35px 40px;
  color: var(--secondary-color);
}

.cta h3,
.cta p {
  margin-bottom: 25px;
}

/**
  |============================
  | HOME WORK
  |============================
*/

.cta p {
  line-height: 1.43;
}

.cta .float-left p {
  max-width: 129px;
}

.cta input {
  min-width: 225px;
  padding: 9px 25px;
  border-radius: 30px;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: 17px;
}

.cta img:first-of-type {
  margin-top: 18px;
}

.cta a {
  padding: 7px 51px;
  display: inline-block;
  text-align: center;
  line-height: 17px;
  border-radius: 30px;
}

.cta img:last-of-type {
  margin-top: 21px;
}

.cta a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/**
  |============================
  | BRANDS
  |============================
*/

.brands {
  padding:99px 0 80px;
}

.brands-list {
  font-size: 0;
  border: 1px solid transparent;
}

.brands-item {
  width: calc((100% - 3px) / 4);
}

.brands-item:not(:nth-child(4n)) {
  margin-right: 1px;
}

.brands-item:not(:nth-last-child(-n+4)) {
  margin-bottom: 1px;
}

.brands-link {
  display: block;
  padding: 35px 69px 35px 60px;
  background-color: var(--secondary-color);
}

.brands-link:hover {
  background-color: #828282;
}

.brands-item img {
  display: block;
}

/**
  |============================
  | GOODS
  |============================
*/

.goods {
  padding-bottom: 80px;
}

/**
  |============================
  | footer
  |============================
*/

footer a:hover {
  color: var(--primary-color);
}

.categories {
  padding: 60px 0;
}

.foot-title {
  max-width: 99px;
  margin-bottom: 29px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.41;
}

.foot-list {
  border-top: 1px solid #EFEFEF;
}

.foot-list li:first-child {
  padding-top: 25px;
}

.foot-link {
  font-size: 12px;
  line-height: 2.33;
  color: #828282;
}

.box-line {
  padding: 37px 0 38px;
  border-top: 1px solid #EFEFEF;
}

footer .middle-line_buttons {
  padding: 0;
  margin-top: 2.5px;
}

.contact {
  font-size: 0;
}

.social a{
  display: inline-block;
}

.social a + a {
  margin-left: 20px;
}

.bottom-box {
  padding: 25px 0;
  background-color: #EFEFEF;
}

.bottom-box p {
  margin: 0;
  font-size: 12px;
  line-height: 1.17;
  color: #828282;
}
