@font-face {
  font-family: 'GraphikLCG-Regular';
  src: url('./fonts/GraphikLCG-Regular/GraphikLCG-Regular.eot');
  src: url('./fonts/GraphikLCG-Regular/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/GraphikLCG-Regular/GraphikLCG-Regular.woff2') format('woff2'),
    url('./fonts/GraphikLCG-Regular/GraphikLCG-Regular.woff') format('woff'),
    url('./fonts/GraphikLCG-Regular/GraphikLCG-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GraphikLCG-Semibold';
  src: url('./fonts/GraphikLCG-Semibold/GraphikLCG-Semibold.eot');
  src: url('./fonts/GraphikLCG-Semibold/?#iefix') format('embedded-opentype'),
    url('./fonts/GraphikLCG-Semibold/GraphikLCG-Semibold.woff2') format('woff2'),
    url('./fonts/GraphikLCG-Semibold/GraphikLCG-Semibold.woff') format('woff'),
    url('./fonts/GraphikLCG-Semibold/GraphikLCG-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-text-color: #000000;
  --main-bg-color: #FFFFFF;
  --second-bg-color: #FF9C7D;
  --btn-bg-color: #FF6336;
  --btn-border: 1px solid rgba(0, 0, 0, 0.5);
  --btn-text-color: #fff;
  --main-font: 'GraphikLCG-Regular';
  --second-font: 'GraphikLCG-Semibold';
}

body {
  font-family: var(--main-font);
  font-size: 20px;
  line-height: 1.2;
  background-color: var(--main-bg-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1330px;
  padding: 0 20px;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  min-width: 160px;
  height: 60px;
  padding: 10px 20px;
  font-family: var(--second-font);
  font-size: 16px;
}

.btn:hover,
.btn:focus {
  text-shadow: 3px 3px 3px rgba(150, 150, 150, .6);
  outline: 2px solid #000000;
}

.btn-white {
  border: var(--btn-border);
  color: var(--main-text-color);
}

.btn-orange {
  background-color: #FF6336;
  color: var(--btn-text-color);
}

.title-font {
  font-family: var(--second-font);
}

/**
  |============================
  | header
  |============================
*/

.header {
  border-bottom: 1px solid #CCCCCC;;
}

.header-container {
  max-width: 1338px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo-link {
  padding: 33px 0;
}

.menu {
  margin-left: 51px;
}

.menu-list {
  gap: 42px;
}

.menu-link {
  padding: 10px;
}

.menu-link:hover,
.menu-link:focus {
  color:var(--btn-bg-color);
  text-shadow: 3px 3px 3px rgba(150, 150, 150, .6);
}

.header-btn {
  margin-left: auto;
}

.header-btn-item + .header-btn-item {
  margin-left: 10px;
}

.header-btn .btn {
  min-width: 120px;
  height: 45px;
}

/**
  |============================
  | Hero
  |============================
*/

.hero {
  padding-top: 129px;
  padding-bottom: 172px;
}

.hero-title {
  width: 539px;
  margin-bottom: 51px;
  font-size: 65px;
  line-height: 1.08;
}

.hero-text {
  width: 471px;
  margin-bottom: 50px;
  font-size: 25px;
  line-height: 1.4;
}

.hero-list {
  display: flex;
}

.hero-item + .hero-item {
  margin-left: 10px;
}

.hero-desc {
  margin-top: 25px;
  font-size: 15px;
  line-height: 1.67;
}

/**
  |============================
  | Preferred
  |============================
*/

.preferred {
  background-color: var(--second-bg-color);
  padding-top: 108px;
  padding-bottom: 104px;
}

.preferred-title {
  width: 720px;
  margin: 0 auto 70px;
  font-size: 50px;
  text-align: center;
}

.preferred-list {
  justify-content: space-around;
}

/**
  |============================
  | Benefits
  |============================
*/

.benefits {
  padding-top: 90px;
  padding-bottom: 150px;
}

.benefits-item:not(:last-child){
  margin-bottom: 250px;
}

.benefits-item {
  justify-content: space-between;
}

.benefits-item:nth-child(even) {
  flex-direction: row-reverse;
}

.benefits-title {
  width: 492px;
  font-size: 50px;
}

.benefits-item:nth-child(odd) .benefits-title {
  margin-bottom: 30px;
}

.benefits-item:nth-child(even) .benefits-title {
  margin-bottom: 25px;
}

.benefits-desc {
  width: 491px;
  margin-bottom: 36px;
  line-height: 1.5;
}

.benefits-desc a {
  color: inherit;
}

/**
  |============================
  | Products
  |============================
*/

.products {
  padding-top: 120px;
  padding-bottom: 93px;
  background-color: #FFF8E4;
}

.products-title {
  margin-bottom: 58px;
  font-size: 50px;
  text-align: center;
}

.products-list {
  flex-wrap: wrap;
  row-gap: 57px;
  column-gap: 110px;
}

.products-item {
  padding-top: 21px;
  flex-direction: column;
  flex-basis: 330px;
}

.products-subtitle {
  margin: 23px 0;
}

.products-text a {
  color: inherit;
}

.products-text {
  text-align: center;
}

/**
  |============================
  | Up-productivity
  |============================
*/

.productivity {
  padding-top: 154px;
  padding-bottom: 187px;
}

.productivity-title {}

.productivity-list {}

.list {}

.productivity-item {}

.title-font {}

.productivity-text {}

.productivity-link {}